.forgethead {
    margin: -1rem 9rem 0rem 0rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
}

.subhead {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #9E9A9A;
    margin: -1rem 6rem 2rem 1rem;
}
#subhead2{
    margin: -4rem 22rem 1rem 1rem;
}
.email{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
color: #000000;
margin: 2rem 25rem -1rem 0rem;
}
#enter{
    margin: 1rem 1rem 1rem 1rem;
}
#forgetbtn{
    margin: 0rem 0rem 3rem 1rem !important;
    padding: 0.75rem 2.5rem;
    font-size: 17px
}
#link4{
    color: #464242;
    margin: 0rem 0rem 0rem -25rem;
}
